:root::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.section {
  width: 100%;
}

.container {
  width: 80vw;
  margin: 0 auto;
  font-family: "Amiri", serif;
  width: 1140px;
}
